<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Email</label>
    <input type="email" name="email" formControlName="email">
    <span *ngIf="loginForm.get('email')?.touched && !loginForm.get('email')?.valid">
      <span *ngIf="loginForm.get('email')?.hasError('required')">The email field is required</span>
      <span *ngIf="loginForm.get('email')?.hasError('email')">Please fill a valid email</span>
    </span>
  </div>

  <div>
    <label>Password</label>
    <input type="password" name="password" formControlName="password">
    <span *ngIf="loginForm.get('password')?.touched && !loginForm.get('password')?.valid">
      <span *ngIf="loginForm.get('password')?.hasError('required')">The email field is required</span>
    </span>
  </div>

  <button type="submit" [disabled]="!loginForm.valid">
    submit
  </button>
</form>
