<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" formControlName="email" autocomplete="email">
    <mat-error *ngIf="isError('email') && loginForm.get('email')?.hasError('required')">The email field is required
    </mat-error>
    <mat-error *ngIf="isError('email') && loginForm.get('email')?.hasError('email')">Please fill a valid email
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" formControlName="password" autocomplete="current-password">
    <mat-error *ngIf="isError('password') && loginForm.get('password')?.hasError('required')">The email field is
      required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">
    submit
  </button>
</form>
