<mat-icon class="close-icon" (click)="close()">close</mat-icon>

<div>
  <h1>Terms of Use</h1>
</div>

<p><b>MeDiagnose</b> make use of <b>EndlessMedical</b> API</p>

<div>
  <h3 class="text-xs">§1 Definitions</h3>
  <dl>
    <dt>User</dt>
    <dd>
      <p>The user, or any parties associated with the user attempting to use or using EndlessMedical</p>
    </dd>

    <dt>EndlessMedical</dt>
    <dd>
      <p>All services accessible or provided by endlessmedical.com website, including, but not limited to
        EndlessMedicalAPI and SymptomChecker (via ShinyR)</p>
    </dd>

    <dt>Website</dt>
    <dd>
      <p>EndlessMedical.com</p>
    </dd>

    <dt>Service operator</dt>
    <dd>
      <p>An individual, an administrator of the EndlessMedical, the website of EndlessMedical, currently Lukasz
        Kiljanek
        MD</p>
    </dd>

    <dt>Parties associated with Service Operator</dt>
    <dd>
      <p>All associated with Service operator persons, employees, companies, and parties. These include content
        providers, consultants, clients, business contractors, licensees, authors, managers, founders, officers,
        suppliers, managers, agents, licensors, managers, employees, subcontractors, contractors, and any other
        associated persons and parties, with their families and friends.</p>
    </dd>

    <dt>Terms of Use</dt>
    <dd>
      <p>This document, which is describing the terms of use of EndlessMedical by Users.</p>
    </dd>

  </dl>

  <h3>§2 User eligibility</h3>
  Only persons meeting all the following criteria are allowed to use EndlessMedical:

  <ul>
    <li>persons who are at least 18 years old,</li>
    <li>persons who are not hired by, and who don’t own, and who don’t plan to own, and don’t plan to create and don’t
      plan to open any companies, parties or other entities, that create, run or license services which may be, may
      become or which are competition to EndlessMedical,
    </li>
    <li>persons who are not hired, or associated, directly or indirectly, with IBM Watson, apiMedic (apimedic.com),
      Symptomate (symptomate.com), InferMedica, Isabel, sharecare, iTriage, symcat.com, Babylon,
      FamilyDoctor.org, DocResponse, Ada Health,
    </li>
    <li>persons who know the English language well enough, to fully read and understand all content of the
      EndlessMedical and provisions of the Terms of use,
    </li>
    <li>persons who have read and have understood the Terms of Use,</li>
    <li>persons who have accepted the Terms of Use and agreed to fully comply with the Terms of Use, without any
      exceptions,
    </li>
    <li>persons who are not prohibited by the local or international laws to use EndlessMedical,</li>
    <li>persons who were not notified by Service Operator about being banned to use EndlessMedical,
    </li>
    <li>persons who do not intend to use EndlessMedical for illegal purposes like fraud, or others,</li>


    <li>persons who are not prohibited by the local or international laws to accept the entirety of Terms of Use,</li>
    <li>persons present in the area, state, country, county, condition, circumstance or place, in or from which no
      local, state, country, federal or other laws prohibit acceptance of the entirety of Terms of Use,
    </li>
    <li>persons present in the area, state, country, county, condition, circumstance or place, in or from which no
      local, state, country, federal or other laws render invalid any provision, part or the entirety of the Terms of
      Use,
    </li>
    <li>persons present in the area, state, country, county, condition, circumstance or place, in or from which no
      local, state, country, federal or other laws make or render any or all provisions or clauses of the Terms of Use
      illegal,
    </li>
    <li>persons who are not prohibited by the local or any other laws to fully comply with this Terms of Use,</li>
  </ul>

  Persons who don't fulfill all of the above conditions may become eligible to use the EndlessMedical, but only after
  they have communicated to the Service Operate, the occurrence of a circumstance of not fulfilling any of the
  criteria
  with Service Operator, and after they have received written permission from the Service Operator to use the
  EndlessMedical. These persons still need to read, understand, accept and agree to comply with all other provisions
  of the Terms of Use before using EndlessMedical.
  <br>
  <br>

  <h3>§3 Allowed and prohibited usage:</h3>
  <br>
  EndlessMedical, in its current state of development, can only be used as an educational, supportive, and
  informational
  tool, in the process of diagnosing and treating patients.
  <br><br>
  EndlessMedical or the information, recommendations, or suggestions produced by EndlessMedical can not be used as a
  substitute for medical advice.
  <br><br>
  Always seek medical advice only from licensed medical professionals who are legally authorized to give such advice
  to patients.
  <br><br>
  Without the medical advice, received directly from licensed medical professionals who personally examined, and
  interviewed the patient, and are legally authorized to give such medical advice to patients, and are fully legally
  liable for their medical advice:
  <br><br>

  <ul>
    <li>never initiate or change any medical management, diagnostic or treatment plan,</li>
    <li>never initiate or change any medication or other treatments dosing or frequency,</li>
    <li>never feel diagnosed, assume diagnosis, or diagnose anyone else,</li>
    <li>never inform or assume to be informed about possible diagnosis anyone else,</li>
    <li>never inform or assume to be informed about any possible prognosis or their lack,</li>
    <li>never order, cancel, or change any tests or treatments.</li>
  </ul>
  <br>


  <h3>§4 Terms of Use acceptance and use:</h3>
  <br>
  By using the EndlessMedical or Website, even before you specifically confirm the “I have read, understood and I
  accept and agree to comply with the Terms of Use.” you agree that you have read, understood and that you accept and
  agree to
  comply with the entirety of the Terms of Use.
  <br><br>
  The Terms of Use can change at any time without notice at the Service Operator's discretion. It is the User's
  responsibility to read, understand, accept, and comply with the most current version of the Terms of Use. Every time
  User indicates he/she has read, understood, accepted the Terms of Use and when User agrees to comply with the Terms of
  Use,
  it is assumed, that he/she/it has read, understood, accepted and agreed to comply with the most recent version of the
  Terms of Use
  and all previous versions of the Terms of Use published when he was ever before visiting or using
  Website and EndlessMedical.
  <br><br>
  Any discrepancies between the Terms of Use versions or between the clauses or provisions within the particular
  version, and potential conflicts arising from differences between various versions of Terms of Use shall always be
  interpreted by all to the benefit of the Service Operator and Parties associated with Service Operator.
  <br><br>
  If at any point, the Terms of Use become unacceptable for you, you agree to stop, and you must stop using the
  EndlessMedical immediately.
  <br>
  <br>


  <h3>§5 No warranty or guarantee:</h3>
  <br>
  Even though the Service Operator is investing great effort to make the EndlessMedical valuable tool, the Service
  Operator or Parties associated with Service Operator are not willing to offer and are not offering any warranty or
  guarantee.
  <br><br>
  The EndlessMedical is delivered "as is." The User waives any rights and expectations to warranties, quality,
  applicability, functionality, accessibility, whether express or implied.
  <br><br>
  If User doesn't like any part of the EndlessMedical, User is prohibited from using it.
  <br><br>
  Specifically, EndlessMedical makes no warranty as to the accuracy, availability, completeness or reliability of any
  content or provided information.
  <br><br>
  The User understands that the Service Operator and Parties associated with Service Operator are not guaranteeing
  anything.
  <br><br>
  The EndlessMedical may stop working anytime. The EndlessMedical may be working inappropriately, may have errors,
  malfunctions, graphical and numerical approximations, security and data leaks.
  <br><br>
  The EndlessMedical may be hacked and taken over by malicious software or party, and spread viruses and malware. The
  data you entered may not be safe.
  <br><br>
  User is not allowed to submit or input any patients identifying data, even if asked by EndlessMedical or other
  services, Users, Service Operator or Parties associated with Service Operator.
  <br><br>


  EndlessMedical and Service Operator considers following to be identifying data: name, including first, last or
  initial; date of birth and other dates directly related to individual, besides age or year of birth; all geographical
  identifiers including zip codes, post office box numbers, addresses, suburbs names, state names, town and city names,
  neighborhood name, country names, continents if habituated by less than 20000 people; phone and fax numbers; email
  addresses; website addresses; social security numbers; tax identification numbers; medical record numbers; health
  insurance beneficiary numbers; type of health insurance; account numbers; certificate or license numbers; vehicle
  identifiers including serial numbers and license plate numbers; device identifiers and serial numbers; Web Uniform
  Resource Locators (URLs), Internet Protocol (IP) address numbers; biometric identifiers, including finger, retinal
  and voice prints; full face photographic images and any comparable images; any other unique identifying number,
  characteristic, or code.
  <br><br>
  EndlessMedical and Service Operator consider identifying data the Protected Health Information as defined by HIPPA
  Privacy Rule, United States of America law
  <br><br>
  EndlessMedical may become free, paid, or expensive at any point, and without warning or advance notice.
  <br><br>
  The EndlessMedical has never been validated in appropriate clinical studies and has never been approved or
  recommended
  by any governing agency. It not endorsed by any medical board or society.
  <br><br>
  The EndlessMedical presents general and subjective understandings and opinions regarding diseases, differential
  diagnoses, physical examination, interviewing patients, diagnostic testing, and treatments, which may change from to
  time and without notice.
  <br><br>
  EndlessMedical has no intention to deliver and can not be used to deliver specific medical advice to Users. The
  EndlessMedical is not recommending any specific medical tests, treatments or actions to a specific case.
  EndlessMedical suggestions, or results, are not to be treated as medical advice and does not establish
  patient-physician relationships. The user agrees to use the EndlessMedical solely at his / her / its own risk. The
  User assumes all and any liability for use or misuse of the EndlessMedical.
  <br><br>
  Users shall always consult with licensed medical professionals for medical advice.
  <br><br>
  Always validate the information provided by EndlessMedical with medical books and publications, physicians,
  teachers,
  and mentors.
  <br><br>
  In case of emergency, especially, Users must not use the EndlessMedical and must seek emergent help otherwise.
  <br>
  <br>


  <h3>§6 Lawsuits:</h3>
  <br>
  Users must not directly or indirectly trigger a lawsuit or demand claims, liabilities, settlements, or trigger
  adverse
  action against Service Operator or Parties associated with Service Operator from any entity or the User. If User
  triggers such action the User, besides being vulnerable for a civil lawsuit for non-adherence to Terms of Use will
  also be responsible for covering all legal costs, damages, fees, settlements and other money that Service operator
  may incur or pay as a reason of such breach of Terms of Use by User.
  <br>
  <br>


  <h3>§7 Fees:</h3>
  <br>
  <br>
  The User agrees to pay for paid functionalities as specified on the Web Site. No fees or money are refundable. All
  orders and payments are final and irrevocable.
  <br>
  <br>


  <h3>§8 Endorsements:</h3>
  <br>

  Even though EndlessMedical may link to or include names of products, websites, services, or persons, the
  EndlessMedical, Service, or Parties associated with Service Operator do not endorse, promote or advertise any
  products, websites, services or persons. The Services Operator or Parties associated with Service Operator are not
  responsible for any content Users may receive from linked, external, or internal sources.
  <br>
  <br>


  <h3>§9 Liability:</h3>
  <br>

  In no circumstance EndlessMedical or Service Operator or Parties associated with Service Operator will be or is
  liable
  for any damages (including, without any limitation, incidental and consequential damages, lost health, lost profits,
  personal injury, lost income, personal death, wrongful death, damages including those from lost business) arising
  from use, misuse, function or malfunction of the EndlessMedical or Website or from any interactions between User and
  other people, including User’s coworkers, supervisors, teachers, students or patients, current, past or future, even
  if
  use, misuse, function, malfunction or User’s interactions were or allegedly were inspired, taught by the use or misuse
  of
  EndlessMedical and even if the Service Operator or Parties associated with Service Operator didn’t warn or inform User
  about the possibility of such damages or consequences. The user further agrees and understands that by using the
  EndlessMedical User releases Service Operator and Parties associated with Service Operator from any liability, and
  User takes entire liability all on himself /herself/itself.
  <br><br>


  The User’s release of Service Operator and Parties associated with Service Operator from any liability is a critical
  part of the agreement between User and Service Operator. Without such release, User is prohibited from using any
  parts of Endless Medical or the entirety of EndlessMedical or Website.
  <br><br>

  <h3>§10 Indemnify:</h3>
  <br>

  By using the EndlessMedical or accepting the Terms of Use you agree and promise to indemnify, defend, and hold
  Service
  Operator and Parties associated with Service Operator harmless from and against any reactions, actions, demands or
  claims, liabilities or settlements, legal and accounting fees, resulting from, or allegedly resulting from User’s
  access or use or misuse of the EndlessMedical.
  <br>
  <br>


  <h3>§11 Transfer:</h3>
  <br>

  You may not transfer all or any of the rights of a User to any other party. Specifically, Users are not allowed to
  share their logins or passwords or API access keys/passphrases. Such transfer will be considered a breach of the
  Terms of Use and may lead to adverse actions such as account closure, ban to use EndlessMedical and Website, or
  lawsuit
  against User.
  <br>
  <br>


  <h3>§12 Accounts:</h3>
  <br>

  All logins, passwords, API access information, including API keys, passphrases, and passes, are confidential and
  only for only one User’s knowledge.
  <br><br>
  If you are granted a login and password to use the EndlessMedical, or API key, and API pass or passphrase, and even
  if you paid for these, you are not allowed to transfer or sell your access, your passwords, logins, or API keys,
  passphrases or passes to other party or person. Sharing is also prohibited.

  <br><br>
  Any such action will result in immediate cancelation of your account, API access, and login credentials, without
  refund or notice. Such actions may and will likely be reported to appropriate policing (i.e. Police), credentialing
  and licensing authorities as professionalism reports, without notice to you. You may also become sued for damages in
  a lawsuit.
  <br><br>
  The User is required to report to Service Operator immediately, any known or suspected breach of security, or
  compromised confidentiality of login/passwords and access to API. Please use the email given in the Contact section
  of EndlessMedical.com to report these.

  <br><br>
  <h3>§13 Notices:</h3>
  <br>

  EndlessMedical or Service Operator has no obligations to notify Users before or after taking any actions such as
  account cancelation, reporting, service maintenance, or closure of service.
  <br><br>
  All Users, when using products, APIs, software or data, or services provided by EndlessMedical, Service, must notify
  their Users, in a clearly visible way, that their services are "Powered by EndlessMedical, EndlessMedicalAPI.
  https://www.endlessmedical.com".


  <br>
  <br>
  <h3>§14 Data and data usage:</h3>
  <br>

  By using the EndlessMedical or Website you generate the data, not only personal, and not only with your direct
  submissions. It is generated by your behavior while using the EndlessMedical, by data imputations to and
  interactions with the Website or EndlessMedical. Data is also generated by, and available from your browser or cookies
  or other
  sources. By using EndlessMedical and/or by accessing the Website you grant to Service Operator and its designates a
  worldwide, non-exclusive, sub-licensable, transferable, fully paid-up, royalty-free, perpetual, irrevocable right
  (license) to: use, not use, create derivative works of, do and publish research from, reproduce, distribute,
  publicly perform, analyze, publicly display, publish, digitally perform, make, have made, sell, offer for sale and
  import
  this data, in any media, or means known already or hereafter developed, for any purpose, commercial, scientific or
  otherwise, without further approval by, payment or notice to User. By using EndlessMedical or accessing the Website
  User also represents that he/she/ it has the unrestricted right to grant such right (license).

  <br>
  <br>
  <h3>§15 Survival:</h3>
  <br>

  In case you terminate your access to, or you stop using EndlessMedical or Website, or your account is terminated,
  your right to use the EndlessMedical or Website terminates, but all other provisions of this Terms of Use,
  specifically
  your duties and the right and license as specified in §14, shall survive such termination.

  <br>
  <br>
  <h3>§16 Copyrights and intellectual properties:</h3>
  <br>
  The user agrees to accept and honor the Service Operator ownership of all copyrights and all intellectual property
  of EndlessMedical. User agrees to not view, reproduce, copy, disseminate, put through reverse engineering any part of
  the source code, application, service, Website or EndlessMedical, or databases of the EndlessMedical or Website unless
  specifically allowed by the Website and EndlessMedical or the Service Operator in writing. Furthermore, the User
  agrees to not disseminate by any means (including using memorization) any or all content, actions, or design of the
  EndlessMedical
  or Website unless specifically permitted by the Website and EndlessMedical during its use.

  <br>
  <br>

  For any comments and questions, please contact Service Operator, Lukasz Kiljanek MD by emailing
  <a class="link" href="mailto:lukaszkiljanekEM@gmail.com?subject=Question about Endless Medical API&amp;body=Hello, ">lukaszkiljanekEM@gmail.com</a>
</div>
