@import '../../../../styles';

.title {
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  i {
    display: inline-block;
    margin-right: 2px;
    font-weight: 200;
  }
  b {
    color: $primary;
    font-size: 1.5rem;
  }
}
