<ng-template #question let-question='question'>
  <div [innerHTML]="question">
  </div>
</ng-template>

<ng-template #multipleChoices let-choices=choices let-isTerms='isTerms'>
  <div>
    <ng-container *ngIf="isTerms">
      <mat-selection-list #TermsChoices [multiple]="false">
        <mat-list-option (click)="acceptedTerms(true)">
          I have read and I accept the terms
        </mat-list-option>
        <mat-list-option (click)="acceptedTerms(false)">
          I do not accept the terms
        </mat-list-option>
      </mat-selection-list>
    </ng-container>
    <ng-container *ngIf="!isTerms">
      <mat-selection-list #multipleChoicesList [multiple]="false">
        <mat-list-option *ngFor="let choice of choices" [value]="choice.value" (click)="onAnswer(choice.value)">
          {{choice.laytext}}
        </mat-list-option>
      </mat-selection-list>
    </ng-container>
  </div>
</ng-template>

<ng-template #number let-min='min' let-max='max' let-defaultNumber='defaultNumber'>
  <div>
    <mat-slider
      #slider
      thumbLabel
      step="1"
      [value]="defaultNumber"
      [min]=min
      [max]=max></mat-slider>
    <button mat-flat-button color="primary" type="button" (click)="onAnswer(slider.value)">Submit</button>
  </div>
</ng-template>

<div class="conversation-container">
  <ng-container *ngIf="showTerms">
    <app-question [question]="terms"></app-question>

    <ng-container *ngTemplateOutlet="multipleChoices; context: {isTerms: true}"></ng-container>
  </ng-container>

  <app-conversation-text *ngFor="let text of conversation" [question]="text.questionText"
                         [answer]="text.answerText || text.answerValue"></app-conversation-text>

  <app-main-symptoms *ngIf="showMainSymptomCategories" (answerMainSymptom)="onMainSymptomAnswered($event)"
                     (showMainQuestion)="onShowCurrentQuestion($event)"></app-main-symptoms>

  <div *ngIf="currentQuestion && !showResults">
    <app-question [question]="currentQuestion.laytext"></app-question>

    <ng-container [ngSwitch]="currentQuestion.type">
      <ng-container *ngSwitchCase="'categorical'">
        <ng-container
          *ngTemplateOutlet="multipleChoices; context: {choices: currentQuestion.choices, isTerms: false}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'integer'">
        <ng-container
          *ngTemplateOutlet="number; context: {min: currentQuestion.min, max: currentQuestion.max, defaultNumber: currentQuestion.default}"></ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div *ngIf="showResults">
    <app-question [question]="'Here are the results based on your answers'"></app-question>

    <ul>
      <li *ngFor="let result of results">
        <span>{{result[1]}}</span>: <span>{{diseaseProbability(result[2])}}</span>
      </li>
    </ul>

    <div>
      <button mat-raised-button color="primary" (click)="continue()" *ngIf="questionCount < 24">Ask me more questions
      </button>
      <button mat-raised-button color="primary" (click)="endSession()">Finish</button>
    </div>
  </div>

</div>
