<ng-template #multipleChoices let-choices=choices let-isTerms='isTerms'>
  <ng-container *ngIf="isTerms">
    <app-answer [multiple]="true" [choices]="termChoices" (answerWasChosen)="acceptedTerms($event)"></app-answer>
  </ng-container>
  <ng-container *ngIf="!isTerms">
    <app-answer [multiple]="true" [choices]="choices" (answerWasChosen)="onAnswer($event)"></app-answer>
  </ng-container>
</ng-template>

<ng-template #number let-min='min' let-max='max' let-defaultNumber='defaultNumber'>
  <div>
    <mat-slider
      #slider
      thumbLabel
      step="1"
      [value]="defaultNumber"
      [min]=min
      [max]=max></mat-slider>
    <button mat-flat-button color="primary" type="button" (click)="onAnswer(slider.value)">Submit</button>
  </div>
</ng-template>

<app-toolbar [isPrimary]="true" [isLoggedIn]="true" [isChat]="true" [chatTitle]="'Symptom Checker Bot'"></app-toolbar>

<div class="conversation-container flex flex-col overflow-auto pt-2 pb-12 mx-2" #scrollable>

  <div *ngIf="showTerms" class="flex flex-col items-start">
    <app-question
      [question]="'Please remember, I am not healthcare provider, so I cannot provide professional medical advice.'"></app-question>
    <app-question
      [question]="'In case of any symptoms, complaints or problems, always immediately seek medical advice appropriately and don\'t delay contacting professional healthcare services. Only after you contact healthcare profesional use this symptom checker.'"></app-question>
    <app-question
      [question]="'Have you read and do you accept this terms and terms of use of EndlessMedical.com services upon registration?'"></app-question>
    <ng-container *ngTemplateOutlet="multipleChoices; context: {isTerms: true}"></ng-container>
  </div>

  <app-conversation-text *ngFor="let text of conversation" [question]="text.questionText"
                         [answer]="text.answerText || text.answerValue"></app-conversation-text>

  <app-main-symptoms *ngIf="showMainSymptomCategories" (answerMainSymptom)="onMainSymptomAnswered($event)"
                     (showMainQuestion)="onShowCurrentQuestion($event)"></app-main-symptoms>

  <div *ngIf="currentQuestion && !showResults && !isFetching">
    <app-question [question]="currentQuestion.laytext"></app-question>

    <ng-container [ngSwitch]="currentQuestion.type">
      <ng-container *ngSwitchCase="'categorical'">
        <ng-container
          *ngTemplateOutlet="multipleChoices; context: {choices: currentQuestion.choices, isTerms: false}"></ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'integer'">
        <ng-container
          *ngTemplateOutlet="number; context: {min: currentQuestion.min, max: currentQuestion.max, defaultNumber: currentQuestion.default}"></ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div *ngIf="isFetching">
    <div class="typing typing-1"></div>
    <div class="typing typing-2"></div>
    <div class="typing typing-3"></div>
  </div>
</div>
