@import '../../styles';

.wrapper {
  background-color: $primary;
  position: absolute;
  z-index: -1;
}

.background {
  background-image: url('../../assets/images/bg.jpg');
  background-position-x: 80%;
  position: absolute;
  background-size: cover;
  z-index: -1;
  opacity: 0.2;
}

.form-container {
  height: calc(100vh - 64px);
}
