/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-error {
  display: block;
  font-size: 75%;
}
.hidden {
  display: none;
}
mat-form-field {
  &.no-border {
    .mat-form-field-wrapper {
      .mat-form-field-underline {
        height: 0;
        background: red;
      }
    }
  }
}
