<app-toolbar [isPrimary]="true" [isLoggedIn]="true"></app-toolbar>

<div class="tiles-wrapper flex flex-row items-center justify-center content-center">
  <mat-card class="tile h-40 w-80 bg-indigo-500 hover:bg-indigo-600 text-white text-xl cursor-pointer" routerLink="checkers">
    <div class="flex flex-col justify-center text-center content-center w-full h-full">
      Symptom Checker
    </div>
  </mat-card>
</div>

<p *ngIf="showThankYou">Thank you for choosing MeDiagnose!</p>

<router-outlet></router-outlet>
